# Node
node_modules/
.pnpm-store/

# Build outputs
dist/
build/
.tmp/
.tmp*/
.cache/
coverage/

# Env files
.env
.env.*
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
logs/

# Editors/OS
.DS_Store
.vscode/
.idea/
Thumbs.db

# Tools/Platforms
.turbo/
.vercel/
.render/

# Prisma local db
prisma/.db/

# Misc
*.local
